@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #35a7ff;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  /* font-family: 'Russo One', sans-serif; */
}
h1,
h2 {
  margin: 1rem;

  text-align: center;
}
ul {
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1px;
  row-gap: 1px;
}
li {
  list-style: none;
  text-align: center;
  color: #ffffff;
  padding: 0.7rem;
  background: #38618c;
  display: flex;

  flex-direction: column;
}
li:hover {
  background: #ffe74c;
  color: #38618c;
}
li:hover > svg {
  fill: #38618c;
}
.roomString {
  padding: 1rem;
}
.dateContainer {
  width: 100%;
  display: flex;
  padding: 1.5rem;
}
.dateString {
  display: inline-block;
  width: 200px;
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 5rem auto;
}
.get {
  width: 100%;
  margin: 0 auto;
}
.postForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}
#submitBtn {
  width: 100px;
  margin: 1rem;
  padding: 0.5rem;
  border: none;
  background: #ffe74c;
  color: #38618c;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}
#getInputField {
  width: 50%;
  padding: 0.5rem;
}
.deleteBtn {
  align-self: flex-end;
  background: #ff5964;
  color: 38618c;
  align-self: flex-end;
  padding: 0.2rem;
  cursor: pointer;
}
#average {
  display: block;
}
